# Environment & Configuration
.env

# Ignore all plist files
*.plist

# Xcode Project Settings
GrapefruitCrunch.xcodeproj/project.xcworkspace/
GrapefruitCrunch.xcodeproj/xcuserdata/
GrapefruitCrunch.xcodeproj/*.xcuserstate
GrapefruitCrunch.xcodeproj/xcshareddata/xcschemes/*

# Xcode Derived Data
DerivedData/

# Build Artifacts
build/
*.ipa
*.app
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode Specific Files
*.xcworkspace
*.xcuserstate
xcuserdata/

# macOS System Files
*.DS_Store
*.AppleDouble
*.LSOverride

# Temporary Files
*~
*.swp

