.env

.DS_Store

GrapefruitCrunch.xcodeproj/project.xcworkspace/
GrapefruitCrunch.xcodeproj/xcuserdata/
GrapefruitCrunch.xcodeproj/*.xcuserstate
GrapefruitCrunch.xcodeproj/xcshareddata/xcschemes/*


# GoogleService-Info
GoogleService-Info.plist

# Xcode Derived Data
DerivedData/

# Build artifacts
build/
*.ipa
*.app
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode-specific files
*.xcworkspace
*.xcuserstate
xcuserdata/

# macOS system files
*.DS_Store
*.AppleDouble
*.LSOverride

# Temporary files
*~ 
*.swp

